@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.top_container {
    background-color: #1b1b1b;
    width: 100vw;
    height: 100vh;
    padding: 20px;
}

.top_main_heading {
    color: #ffffff;
    font-family: "Bree Serif";
    font-size: 28px;
}

.top_card_container {
    background-color: #e6f6ff;
    border-radius: 10px;
    height: 155px;
}

.top_img1 {
    height: 155px;
    width: 110px;
}

.top_text_container {
    padding: 14px;
}

.top_heading1 {
    color: #183b56;
    font-family: "Bree Serif";
    font-size: 16px;
    font-weight: 500;
}

.top_para1 {
    font-family: "Bree Serif";
    color: #06070d;
    font-size: 9px;
    font-weight: 500;
}

.top_heading2 {
    color: #183b56;
    font-family: "Bree Serif";
    font-size: 9px;
    font-weight: 500;
}

.top_button {
    font-family: "Roboto";
    font-size: 10px;
}

.center_container {
    margin-top: 10px;
}

.center_main_heading {
    color: #ffffff;
    font-family: "Bree Serif";
    font-size: 18px;
}

.center_card_container {
    height: 120px;
}

.center_img1 {
    height: 120px;
    width: 80px;
}

.center_text_container {
    padding: 10px;
}

.center_heading1 {
    color: #ffffff;
    font-family: "Bree Serif";
    font-size: 14px;
    font-weight: 500;
}

.center_para1 {
    font-family: "Bree Serif";
    color: #e4e7eb;
    font-size: 10px;
}

.center_button {
    font-family: "Roboto";
    font-size: 10px;
}

.buttom_card_container {
    margin-top: 10px;
}

.book_details_page {
    background-color: #1b1b1b;
    width: 100vw;
    height: 100vh;
    padding: 20px;
}

.img {
    height: 260px;
}

.heading1 {
    font-family: "Bree Serif";
    color: #ffffff;
    font-size: 26px;
}

.heading6 {
    font-family: "Bree Serif";
    color: #9aa5b1;
    font-size: 12px;
}

.para1 {
    font-family: "Bree Serif";
    color: #e4e7eb;
    font-size: 10px;
    text-align: left;
    margin-top: 16px;
}

.button {
    margin-left: 5px;
}

.text_align {
    text-align: center;
    margin-top: 16px;
}
